* {
    margin: 0px;
    padding: 0px;
}

html {
    /*background-color: skyblue;*/
    background: black;
}

html, body {
    overflow: hidden;
}

#skocznia {
    width:2300px;
    height: 800px;
    /*background-color: skyblue;*/
    
    position: relative;
}

#container {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background-image: url('../images/bg1.jpg');
}

#skoczek {
    width: 45px;
    height: 45px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

#skoczek img {
    width: 45px;
    height: 45px;
}

#punkt-ladowania {
    width: 5px;
    height: 5px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
    /*display: none;*/
}

#distance {
    font-size: 20px;
}

#wind-panel {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 100;
    width: 100px;
    height: 100px;
/*    overflow: hidden;
    border:#eee;
    background: white;*/
}

#wind_img {
    position: fixed;
    width: 100px;
}

#wind_power {
    color: red;
    margin-top: 100px;
    text-align: center
}

/* ---------------------------------------------------------------------------- */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.panel-top {
    min-height: 20px;
    background: #2b2b2b;
    color: white;
    border-bottom: black 3px solid;
    margin-bottom: 0px;
}