#skocznia {
    width:2300px;
    height: 800px;
    background-color: skyblue;
    position: relative;
}

#container {
    width:1300px;
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

#skoczek {
    width: 45px;
    height: 45px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

#skoczek img {
    width: 45px;
    height: 45px;
}

#punkt-ladowania {
    width: 5px;
    height: 5px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
    /*display: none;*/
}

#distance {
    font-size: 20px;
}